.DS_Store
node_modules
coverage
firebase-debug.log
firestore-debug.log
ui-debug.log
dist
*.log
.idea
dataconnect/.dataconnect

functions/lib/**/*.js
functions/lib/**/*.js.map

# Firebase cache
.firebase/
.turbo/
.next/
.dataconnect/
